.btn-primary{
    &:hover:focus:active{
        background-color: $white;
        color: $primary;
        border-color: $white;
        box-shadow:none;
    }
}

.menu{
    & a:hover{
        padding-bottom: 4px;
        border-bottom: 1px solid $primary;
    }
    .menubar{
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }
}